
body {
    font-family: 'Poppins', sans-serif;
}


* {
    transition: all 0.3s ease-in-out;
}


#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}


.report-table {
    white-space: nowrap; 
}
.report-table th, .report-table td {
    padding: 0.5rem !important;
    vertical-align: middle;
}
.status-cell-H { background-color: #d1e7dd; }
.status-cell-S { background-color: #fff3cd; }
.status-cell-I { background-color: #cff4fc; }
.status-cell-A { background-color: #f8d7da; }
.status-cell-- { background-color: #f8f9fa; }